docs/_build
build/
dist/
*.egg-info
locale
*.pyc
*.pyo
*.sqlite*
.svn/
.tox/
.vscode/
__pycache__/
.ropeproject
polib.py
reversion
tinymce
pip-log.txt
MANIFEST
dist
.vscode/.env

# ICU data file is fetched from ICU tarball during build
lstring/_icu_data/*.dat
