docs/_build
build/
dist/
*.egg-info
locale
*.pyc
*.pyo
*.sqlite*
lcov.info
benchmarks/results/
coverage.xml
.coverage
htmlcov/
.svn/
.tox/
.vscode/
.clangd
__pycache__/
.ropeproject
polib.py
reversion
tinymce
pip-log.txt
MANIFEST
dist
.vscode/.env
